<%= render "forms/navbar"%>
<div class="recipes-list">
    <ul class= "recipe-item-list">
        <% @recipes.each do |recipe| %>
            <li class="recipe-item">
                <div class="recipe-item-para">
                    <h3 class="recipe-h3-link"> <%= link_to recipe.name , "recipes/#{recipe.id}"%> </h3>
                    <%if can? :destroy , recipe%>
                        <button><%= link_to 'Remove' , url_for(action: 'destroy' , id: recipe.id ) , data: {turbo_method: :delete}%></button>
                    <%end%>
                </div>
                <div>
                    <p> <%= recipe.description%></p>
                </div>
            </li>
        <%end%>
    </ul>
</div>